@use '../../styles/_vars.css' as vars;
.login_logo{
    object-fit:contain;
    width: 90%;
}
.main_container{
    height: 100%;
    display: flex;
    //background-color: red;
}
.login_container{
    //background-color: antiquewhite;
    padding: 1rem;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;

    height: 600px;
    border: 1px solid var(--brightGray);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.login_form{
    margin-top: 1rem;
    width: 100%;
}
.login_stack{
    width: 100%;
}
.login_title{
    padding-top: 2rem;
    align-self: flex-start;
    color: var(--darkBlue);
    font-weight: 600 !important;
    font-size: var(--lg) !important;
    font-family: 'Poppins','Quicksand', sans-serif !important;
}
.login_text{
    align-self: flex-start;
    color: var(--darkBlue);
    font-family: 'Poppins','Quicksand', sans-serif !important;
}
.login_version{
    //width: 100%;
    margin-top: .5rem !important;
    display: flex;
    justify-content: center;

}
.button_container{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 400px;
}


@media (max-width: 600px) {
    .button_container{
        width: 100%;
    }
    .login_container{
        width: 100%;
        height: 100%;
    }
}
