:root {
    --electricBlue: #0074D9;
    --darkBlue: #004f94;
    --lightBlue: #E2E9EF;
    --brightGray: #F5F5F5;
    --white: #FFFFFF;
    --smm: 13px;
    --sm: 14px;
    --mdd: 15px;
    --md: 16px;
    --lg: 18px;
    --xl: 24px;
}



