
body {
  margin: 0;
  font-family: 'Poppins','Quicksand', sans-serif !important;
  color: var(--darkBlue);
  /*font-size: 15px;
  background-color:var(--white) ;*/
}
.NotFound {
  margin: 200px
}

.InputBasic{
  width: 100%;
}

.ButtonBasic{
  width: 100%;
  height: 3rem; 
  background-color: var(--darkBlue) !important;
  text-transform: none !important;
}



/*
xs, extra-small: 0px
sm, small: 600px
md, medium: 900px
lg, large: 1200px
xl, extra-large: 1536px
*/
